%p 3rd
%table
  %tr
    %th Sponsor
    %th Status
    %th Category
    %th Amount
    %th Created at
    %th Updated at
    %th
    %th
    %th

  - @sponsorships.each do |sponsorship|
    %tr
      %td= sponsorship.Sponsor.name
      %td= sponsorship.status
      %td= sponsorship.category
      %td= sponsorship.amount
      %td= sponsorship.created_at
      %td= sponsorship.updated_at
      -# %td= link_to 'Show', admin_conference_sponsorship_path(sponsorship)
      -# %td= link_to 'Edit', edit_admin_conference_sponsorship_path(sponsorship)
      -# %td= link_to 'Destroy', sponsorship, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
